name: Java CI
on:
  workflow_call:
    inputs:
      java_version:
        description: Java Version
        type: string
        required: false
        default: '17'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1000
          fetch-tags: true

      - name: Setup JDK ${{ inputs.java_version }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ inputs.java_version }}
          distribution: 'temurin'

      - name: Make Gradle Wrapper executable
        run: chmod +x ./gradlew

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle
        run: ./gradlew build --stacktrace
